<h2>ユーザー情報編集ページ</h2>

<%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "shared/error_messages", model: f.object %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>（入力してください）</i><br />
    <%= f.password_field :password, autocomplete: "new-password", placeholder:"6文字以上の半角英数字" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"同じパスワードを入力" %>
  </div>

  <div class="field">
    <%= f.label :location, "現在お住まいの都道府県" %><br />
    <%= f.text_field :location, placeholder:"全角で入力" %>
  </div>

  <div class="field">
    <%= f.label :age, "年齢" %><br />
    <%= f.text_field :age, placeholder:"半角数字で入力（例）4" %>
  </div>

  <div class="field">
    <%= f.label :canyon_number, "訪れた渓谷の数" %><br />
    <%= f.text_field :canyon_number, placeholder:"半角数字で入力" %>
  </div>

  <div class="field">
    <%= f.label :hobby, "趣味など" %><br />
    <%= f.text_area :hobby %>
  </div>

  <div class='form-text-wrap'>
    <label class="form-text">生年月日</label>
  </div>
  <div class='input-birth-wrap'>
    <%= raw sprintf(
                f.date_select(
                  :birthday,
                  class:'select-birth',
                  id:"birth-date",
                  use_month_numbers: true,
                  prompt:'--',
                  start_year: 1930,
                  end_year: (Time.now.year - 5),
                  date_separator: '%s'),
                " 年 ", " 月 ") + " 日 " %>
  </div>
  <div class="actions">
    <%= f.submit "変更する" %>
  </div>
<% end %>

<%= link_to "マイページに戻る", user_path(@user.id) %>

<p><%= link_to 'トップページ', "/" %></p>

<h3>アカウントの削除</h3>

<p>本当によろしいですか？ <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "本当によろしいですか?" }, method: :delete %></p>


