<h1>編集ページ</h1>

<%= form_with model:@tweet, url: tweet_path, local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>

  <div>
    <p>渓谷名</p>
    <%= f.text_area :title, class:"tweets-text", id:"tweet-name", placeholder:"40文字まで", maxlength:"40" %>
  </div>
  <div>
    <p>渓谷について</p>
    <%= f.text_area :concept, class:"tweets-text", id:"tweet-info", placeholder:"7文字以上1000文字以下", rows:"7" ,maxlength:"1000"%>
  </div>
  <div>
    <p>費用</p>
    <%= f.text_field :price, class:"tweets-text", id:"tweet-price", placeholder:"半角数字" %>
  </div>
  <div>
    <p>都道府県（渓谷の所在地）</p>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %>
  </div>

  <div class='input-birth-wrap'>
  <p>訪問日</p>
    <%= raw sprintf(
                f.date_select(
                  :visit_day,
                  class:'select-day',
                  id:"visit-date",
                  use_month_numbers: true,
                  prompt:'--',
                  start_year: 2000,
                  end_year: (Time.now.year),
                  date_separator: '%s'),
                " 年 ", " 月 ") + " 日 " %>
  </div>
  <div>
    <p>クリックして画像をアップロード</p>
    <%= f.file_field :image, id:"tweet-image" %>
  </div>

  <div>
    <p><%= f.submit '変更する' %></p>
  </div>

<% end %>

<p><%= link_to '詳細ページへ戻る', tweet_path, method: :get %></p>
<p><%= link_to 'マイページへ戻る', '#' %></p>