<%= render "shared/header" %>

<div class="tweet-show">
  <div class="tweet-box">
    <h2 class="tweet-show-title">
      <%= @tweet.title %>
    </h2>
    <div class='tweet-image-content'>
      <%= image_tag @tweet.image ,class:"tweet-show-card" %>
    </div>

    <div class="tweet-explain">
      <span><%= @tweet.concept %></span>
    </div>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">ユーザー名</th>
          <td class="detail-value"><%= link_to  @tweet.user.nickname,  user_path(@tweet.user.id), method: :get %></td>
        </tr>
        <tr>
          <th class="detail-item">費用</th>
          <td class="detail-value"><%= @tweet.price %>円</td>
        </tr>
        <tr>
          <th class="detail-item">都道府県（渓谷の所在地）</th>
          <td class="detail-value"><%= @tweet.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">訪問日</th>
          <td class="detail-value"><%= @tweet.visit_day %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="tweet-show-nav">
    <ul class="tweet-show-lists">
      <li><%= link_to 'アクセスページに進む', tweet_access_path(@tweet.id), method: :get, class: "access-btn" %></li>
      <% if user_signed_in? %>
        <% if current_user.id == @tweet.user_id %>
          <li><%= link_to '投稿情報編集へ進む', edit_tweet_path(@tweet.id), method: :get, class: "tweet-edit-btn" %></li>
          <li><%= link_to '投稿を削除する', tweet_path(@tweet.id), method: :delete, class:'tweet-destroy-btn' %></li>
        <% end %>
      <% end %>
      <li><%= link_to 'トップページに戻る', "/", class: "tweet-top-btn" %></li>
    </ul>
  </div>
</div>