<%= render "shared/header"%>

<div class="main">
  <div class="user-contents">
    <h2 class="user-content-title"><%= "#{@user.nickname}さんのマイページ"%></h2>
  </div>

  <table class="detail-table">
    <tbody>
      <tr>
        <th class="detail-item">ニックネーム</th>
        <td class="detail-value"><%= @user.nickname %></td>
      </tr>
      <tr>
        <th class="detail-item">年齢</th>
        <td class="detail-value"><%= @user.age %></td>
      </tr>
      <tr>
        <th class="detail-item">現在お住まいの都道府県</th>
        <td class="detail-value"><%= @user.location %></td>
      </tr>
      <tr>
        <th class="detail-item">趣味など</th>
        <td class="detail-value"><%= @user.hobby %></td>
      </tr>
      <tr>
        <th class="detail-item">訪れた渓谷の数</th>
        <td class="detail-value"><%= @user.canyon_number %></td>
      </tr>
      <tr>
        <th class="detail-item">生年月日</th>
        <td class="detail-value"><%= @user.birthday %></td>
      </tr>
    </tbody>
  </table>

  <div class="user-contents">
    <h2 class="user-content-title"><%= "#{@user.nickname}さんの投稿" %></h2>
  </div>

  <ul class="tweet-lists">
    <% @tweets.each do |tweet| %>
      <% if @tweets.present? %>
        <li>
          <div class="tweet-image">
            <%= link_to image_tag(tweet.image, class: "card_img" ), tweet_path(tweet.id), method: :get %>
          </div>
          <div class="user-tweet-title">
            <h3><%= link_to "渓谷名：#{tweet.title}", tweet_path(tweet.id), method: :get, class: "tweet-title" %></h3>
          </div>
        </li>
      <% else %>
        <li>
          <div>
            <h3>渓谷を投稿してね</h3>
          </div>
          <div>
            <span>僕と渓谷</span>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="user-show-nav">
  <ul class="user-show-lists">
    <% if user_signed_in? && current_user.id == @user.id %>
      <li><%= link_to 'ユーザー情報編集ページへ進む', edit_user_registration_path, method: :get, class: "user-edit-btn" %></li>
    <% end %>
    <li><%= link_to 'トップページに戻る', "/", class: "tweet-top-btn"%></li>
  </ul>
</div>