<div class="main">
  <div class="tweet-contents">
    <h2 class="tweet-contents-title">ログイン</h2>
  </div>

  <div class="form-content">
    <%= form_with model: @user, url: new_user_session_path, class: 'registration-main', local: true do |f| %>

      <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>

      <div class="field">
        <%= f.label :email, class:"form-text" %><br />
        <%= f.email_field :email, class:"user-small-field", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, class:"form-text" %><br />
        <%= f.password_field :password, class:"user-small-field", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div>
        <%= f.submit "ログイン" ,class: "send" %>
      </div>
    <% end %>
  </div>
</div>

<div class="tweet-edit-nav">
  <ul class="tweet-edit-lists">
    <li><%= render "devise/shared/links", class:"" %></li>
    <li><%= link_to 'トップページ', "/",class: "tweet-top-btn" %></li>
  </ul>
</div>